*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(0, 131, 140);
    text-align: center;

}
.container{
    height: 60vh;
    display: flex;   /*BOXES are in one line*/
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;   /*BOXES are in one line*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6vmin;


}
.box{
    height:18vmin ;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}
#resetb1{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: brown;
    color: white;
    border-radius: 1rem;
    border: none;


}